@import url('https://fonts.googleapis.com/css2?family=Spinnaker&display=swap');

body {
    font-family: 'Spinnaker', sans-serif;
}

#beach-img {
    width: 100%;
    height: 900px;
}

#title {
    font-family: 'Spinnaker', sans-serif;
    font-size: 56px;
}

.nowrap{
    white-space: nowrap;
}

.tab-content{
    width: auto;
}

.fa-star{
    color: 	#ffc107;
}

.fa-quote-left{
    color: #ffc107;
}